<div style="background-color: #c1c7cb; padding: 16px; border-radius: 4px;">
  <form class="filtros-container"
        style="display: flex; gap: 16px; align-items: center; margin-bottom: 24px;"
        (ngSubmit)="obtenerHistorial()">
    <mat-form-field appearance="outline">
      <mat-label>Socio</mat-label>
      <input matInput placeholder="Ingrese socio" type="text" [(ngModel)]="filtroSocio" name="filtroSocio">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha desde</mat-label>
      <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha inicio" [(ngModel)]="filtroFechaDesde" name="filtroFechaDesde">
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha hasta</mat-label>
      <input matInput [matDatepicker]="pickerFin" placeholder="Fecha fin" [(ngModel)]="filtroFechaHasta" name="filtroFechaHasta">
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Filtrar</button>
  </form>
</div>

<!-- Expansion Panels para los gráficos -->
<mat-accordion [multi]="false" class="p-4">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Ingresos por Servicio</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-4">
      <canvas baseChart [data]="doughnutChartServicios" [type]="'doughnut'" style="max-height: 300px; width: 100%;"></canvas>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Ingresos por Día</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-4">
      <canvas baseChart [data]="doughnutChartIngresosPorDia" [type]="'doughnut'" style="max-height: 300px; width: 100%;"></canvas>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Ingresos por Socio</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="p-4">
      <canvas baseChart [data]="doughnutChartPorSocio" [type]="'doughnut'" style="max-height: 300px; width: 100%;"></canvas>
    </div>
  </mat-expansion-panel>
</mat-accordion>
