.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.bg-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  margin: 0 auto;
  display: block;
}


