<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
    
  <button mat-button routerLink="/dashboard/vista" class="example-button">
    Vista
  </button>
  
  <button mat-button routerLink="/dashboard/habitaciones" class="example-button">
    Habitaciones
  </button>
  
  <button mat-button routerLink="/dashboard/historial" class="example-button">
    historial
  </button>
  
  <button mat-button routerLink="/dashboard/agregar" class="example-button">
    Añadir cliente
  </button>
  
  <span class="example-spacer"></span>
  
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
