.example-spacer {
    flex: 1 1 auto;
  }
.toolbar {
    display: flex;
    align-items: center;
  }
.toolbar-logo {
    width: 100px; 
    height: auto; 
    margin: 0 8px 0 0; 
  }
.example-button {
    margin: 0 8px; 
  }
  