<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Menu">
  </button> -->
  <img src="../../../assets/logo cucuta.PNG" alt="Logo" class="toolbar-logo">

  <button mat-button routerLink="/dashboard/vista" class="example-button">
    VISTA
  </button>
  
  <button mat-button routerLink="/dashboard/habitaciones" class="example-button">
    HABITACIONES
  </button>
  
  <button mat-button routerLink="/dashboard/historial" class="example-button">
    HISTORIAL
  </button>
  
  <button mat-button routerLink="/dashboard/socios" class="example-button">
    SOCIOS
  </button>

  <button mat-button routerLink="/dashboard/caja" class="example-button">
    CUADRE DE CAJA
  </button>
  
  <span class="example-spacer"></span>
  
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>