<mat-toolbar color="primary">

  <img src="../../../assets/logo cucuta.PNG" alt="Logo" class="toolbar-logo">

  <button mat-button routerLink="/dashboard/dashboard" class="example-button">
    Dashboard
  </button>

  <button mat-button routerLink="/dashboard/vista" class="example-button">
    Tablero
  </button>
  
  <button mat-button routerLink="/dashboard/habitaciones" class="example-button">
    Habitaciones
  </button>
  
  <button mat-button routerLink="/dashboard/historial" class="example-button">
    Historial
  </button>
  
  <button mat-button routerLink="/dashboard/socios" class="example-button">
    Socios
  </button>

  <button mat-button routerLink="/dashboard/caja" class="example-button">
    Cuadre de caja
  </button>

  <button mat-button routerLink="/dashboard/gastos-del-dia" class="example-button">
    Gastos del día
  </button>
  
  <span class="example-spacer"></span>

  <button mat-icon-button routerLink="/dashboard/permisos" class="example-icon" aria-label="Configurar permisos">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>

  <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>


