.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6c6767d5; 
  }
  
  .formulario-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
  }
  
  .example-full-width {
    width: 100%;
  }
  