<div class="container">
      <h2 class="center">EDITAR HABITACIÓN</h2>
    
      <form [formGroup]="formulario" class="form-grid">
        <div class="form-column">
              <mat-label class="label">HABITACIÓN:</mat-label>
              <mat-form-field class="field">
              <input type="number" matInput formControlName="num_habitacion" readonly/>
              </mat-form-field> &nbsp; &nbsp; 
      
              <mat-label class="label">INTERNO:</mat-label>
              <mat-form-field class="field">
              <input type="text" matInput formControlName="interno"/>
              </mat-form-field>
        </div>
    
        <div class="form-column">
              <mat-label class="label">HORA LLEGADA:</mat-label>
              <mat-form-field class="field">
              <input type="text" matInput formControlName="hora_llegada"/>
              </mat-form-field> &nbsp; &nbsp; 
      
              <mat-label class="label">ASEO:</mat-label>
              <mat-form-field class="field">
              <input type="text" matInput formControlName="aseo"/>
              </mat-form-field>  
        </div>
  
        <div class="form-column">
              <mat-label class="label">LLAMADA:</mat-label>
              <mat-form-field class="field">
              <input type="text" matInput formControlName="llamada"/>
              </mat-form-field> &nbsp; &nbsp; 
  
              <mat-label class="label">DESTINO:</mat-label>
              <mat-form-field class="field">
              <input type="text" matInput formControlName="destino"/>
              </mat-form-field>  
        </div>
    
        <div class="boton">
          <button class="center" (click)="editarHabitacion()" mat-button>EDITAR HABITACIÓN</button>
        </div>
      </form>
  </div>
  