<div class="container">

  <div class="agregar">
    <button mat-raised-button (click)="newHabitacion()" color="primary"> Añadir habitación</button>
    <button mat-raised-button (click)="parking()" color="primary" class="margin-left"> Sin habitación </button>  
    <button mat-raised-button (click)="openBiometricModal()" color="primary" class="margin-left"> Escanear huella </button>  
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="num_habitacion">
      <th mat-header-cell *matHeaderCellDef> # habitación </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.estado !== 'Disponible'" [matTooltip]="'Estado: ' + element.estado">
          {{ element.num_habitacion }}
        </span>
        <span *ngIf="element.estado === 'Disponible'">
          {{ element.num_habitacion }}
        </span>
      </td>
    </ng-container>    
  
    <ng-container matColumnDef="interno">
      <th mat-header-cell *matHeaderCellDef> Interno </th>
      <td mat-cell *matCellDef="let element"> {{element.interno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="hora_llegada">
      <th mat-header-cell *matHeaderCellDef> Hora llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_llegada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="aseo">
      <th mat-header-cell *matHeaderCellDef> Aseo </th>
      <td mat-cell *matCellDef="let element"> {{element.aseo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="llamada">
      <th mat-header-cell *matHeaderCellDef> Llamada </th>
      <td mat-cell *matCellDef="let element"> {{element.llamada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef> Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="shouldShowAddButton(element); else showEditDeleteButtons">
          <button mat-icon-button (click)="insertarFila(element.num_habitacion)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </ng-container>
        <ng-template #showEditDeleteButtons>
          <button mat-icon-button (click)="editarFila(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarFila(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row 
        *matRowDef="let row; columns: displayedColumns;" 
        [ngClass]="{'fila-disponible': row.estado === 'Disponible'}">
    </tr>


  </table>
  
</div>

