<div class="container">

  <div class="agregar">
    <button mat-raised-button (click)="newHabitacion()" color="primary"> AÑADIR HABITACIÓN </button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="num_habitacion">
      <th mat-header-cell *matHeaderCellDef> # HABITACIÓN </th>
      <td mat-cell *matCellDef="let element"> {{element.num_habitacion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="interno">
      <th mat-header-cell *matHeaderCellDef> INTERNO </th>
      <td mat-cell *matCellDef="let element"> {{element.interno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="hora_llegada">
      <th mat-header-cell *matHeaderCellDef> HORA LLEGADA </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_llegada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="aseo">
      <th mat-header-cell *matHeaderCellDef> ASEO </th>
      <td mat-cell *matCellDef="let element"> {{element.aseo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="llamada">
      <th mat-header-cell *matHeaderCellDef> LLAMADA </th>
      <td mat-cell *matCellDef="let element"> {{element.llamada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef> DESTINO </th>
      <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="shouldShowAddButton(element); else showEditDeleteButtons">
          <button mat-icon-button (click)="insertarFila(element.num_habitacion)">
            <mat-icon>add_circle</mat-icon>
          </button>
        </ng-container>
        <ng-template #showEditDeleteButtons>
          <button mat-icon-button (click)="editarFila(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="eliminarFila(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>
  
  <!-- <div class="container">

  <div class="agregar">
    <button mat-raised-button (click)="newHabitacion()" color="primary"> Añadir habitación </button>
  </div>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">
         
            <ng-container *ngIf="column === 'acciones'; else dataColumn">
              <td mat-cell>
                <button mat-icon-button *ngIf="!shouldShowActions(element)" (click)="editarFila(element)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button *ngIf="!shouldShowActions(element)" (click)="eliminarFila(element)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button *ngIf="shouldShowActions(element)" (click)="insertarFila(element.num_habitacion)"> 
                  <mat-icon>add_circle</mat-icon> 
                </button> 
              </td>
            </ng-container>
            <ng-template #dataColumn>
              <td mat-cell>{{ element[column] }}</td>
            </ng-template>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>



  </div>
   -->