.container {
    margin: 0 30px; 
    margin-bottom: 20px; 
  }
  
.mat-elevation-z8 {
    margin-top: 30px; 
  }
.agregar {
  margin-top: 30px; 
  display: flex; /* Asegura que los botones estén en línea */
  align-items: center; /* Centra verticalmente los botones */
}

.fila-disponible:hover {
    cursor: pointer;
  }
  .margin-left {
    margin-left: 10px; /* Espacio entre los botones */
}

  