<button mat-button color="primary" (click)="openDialog()">Modificar base</button>

<mat-card class="cash-closing-card">
  <h2>CUADRE DE CAJA</h2>
  <form [formGroup]="form">
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>BASE</mat-label>
      <input matInput type="text" formControlName="base"  />
    </mat-form-field>
    
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>EFECTIVO DEL DÍA</mat-label>
      <input matInput type="text" [value]="formatNumber(baseValue)" formControlName="efectivoDelDia"/>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>TOTAL</mat-label>
      <input matInput type="text" formControlName="total" readonly/>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="submitForm()">REINICIAR</button>
</mat-card>
