.cash-closing-card {
  background: #ffffff;
  color: #0d0d0d;
  padding: 20px;
  border-radius: 8px;
  max-width: 650px;
  margin: 40px auto 0; /* Agregué 40px de margen superior */
}

.acciones-header {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre los botones */
}

.boton-redondo {
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.boton-redondo:hover {
  background-color: #0056b3; /* azul más oscuro al pasar el mouse */
}


.form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  display: block;
  margin: 20px auto 0;
}

::ng-deep .total-positivo input {
  color: green !important;
  font-weight: bold;
}

::ng-deep .total-negativo input {
  color: red !important;
  font-weight: bold;
}
