<div class="acciones-header">
  <button mat-button color="primary" class="boton-redondo" (click)="openDialog()">Modificar base</button>
  <button mat-button color="primary" class="boton-redondo" (click)="verHistorial()">Historial</button>
</div>


<mat-card class="cash-closing-card">
  <h2>CUADRE DE CAJA</h2>
  <form [formGroup]="form">
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>BASE</mat-label>
      <input matInput type="text" formControlName="base" readonly/>
    </mat-form-field>
    
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Efectivo del día</mat-label>
      <input matInput type="text"  formControlName="efectivoDelDia"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Pagos realizados</mat-label>
      <input matInput type="text"
        [value]="formatNumber(form.get('pagosRealizados')?.value || 0)"
        (input)="onPagosRealizadosInput($event)"
        placeholder="Pagos realizados"/>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="form-field" 
        [ngClass]="{
              'total-positivo': form.get('total')?.value?.includes('-') === false && form.get('total')?.value,
              'total-negativo': form.get('total')?.value?.includes('-')
            }" >
      <mat-label>TOTAL</mat-label>
      <input matInput type="text" formControlName="total" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Turno</mat-label>
      <mat-select formControlName="turno">
        <mat-option value="Turno del día">Turno del día</mat-option>
        <mat-option value="Turno de la noche">Turno de la noche</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" formControlName="usuario" placeholder="Nombre del usuario" />
    </mat-form-field>
    
  </form>

  <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!form.valid">Registrar día</button>
</mat-card>
