<mat-card class="form-card">
  <div class="container">
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <div class="form-columns">
        <div class="form-column">
          <div class="form-field">
            <mat-form-field>
              <mat-label>Número de habitación</mat-label>
              <mat-select formControlName="num_habitacion">
                <mat-option *ngFor="let hab of habitacionesDisponibles" [value]="hab">
                  {{ hab }}
                </mat-option>
              </mat-select>
            </mat-form-field>            
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>INTERNO</mat-label>
              <input matInput formControlName="interno">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>HORA DE LLEGADA</mat-label>
              <input matInput formControlName="hora_llegada">
            </mat-form-field>
          </div>
        </div>
        <div class="form-column">
          <div class="form-field">
            <mat-form-field>
              <mat-label>ASEO</mat-label>
              <input matInput formControlName="aseo">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>LLAMADA</mat-label>
              <input matInput formControlName="llamada">
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field>
              <mat-label>DESTINO</mat-label>
              <input matInput formControlName="destino">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="center-button">
          <button type="submit" [disabled]="!isFormValid()" mat-raised-button color="primary" class="wider-button">
            REGISTRAR
          </button>
      </div>
    </form>
  </div>
</mat-card>
