.fullTable{
  width: 100%;
  height: 100%;
  overflow: auto;
  //background-color: var(--white-color);
    table {
      width: 100%;
    }
}

.center-container {
  border: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding-top: 15px;
  width: 100%; /* Ajusta esto según tu necesidad */
  max-width: 600px; /* O el ancho que prefieras */
}

.full-width {
  width: 100%;
}

    