<div class="center-container">
  <div class="search">
    <mat-form-field class="full-width">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>
</div>


<div class="fullTable mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
    <ng-container matColumnDef="num_habitacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Habitacion </th>
      <td mat-cell *matCellDef="let element"> {{element.num_habitacion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="interno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Interno </th>
      <td mat-cell *matCellDef="let element"> {{element.interno}} </td>
    </ng-container>
  
    <ng-container matColumnDef="hora_llegada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Llegada </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_llegada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="aseo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aseo </th>
      <td mat-cell *matCellDef="let element"> {{element.aseo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="llamada">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Llamada </th>
      <td mat-cell *matCellDef="let element"> {{element.llamada}} </td>
    </ng-container>
  
    <ng-container matColumnDef="destino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destino </th>
      <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
    </ng-container>
  
    <ng-container matColumnDef="comentario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Adicional </th>
      <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>
    </ng-container>
  
    <ng-container matColumnDef="hora_salida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Salida </th>
      <td mat-cell *matCellDef="let element"> {{element.hora_salida}} </td>
    </ng-container>
  
    <!-- <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del Sistema </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container> -->
  
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Placa </th>
      <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
    </ng-container>
  
    <ng-container matColumnDef="valor_hospedaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Hospedaje </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.efectivo === '0' ? 'Pago en efectivo' : 'Firmo dormida'"> {{element.valor_hospedaje | currency:' ':'symbol':'1.0-0' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="valor_lavado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Lavado </th>
      <td mat-cell *matCellDef="let element"> {{element.valor_lavado | currency:' ':'symbol':'1.0-0' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="valor_parqueo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Parqueo </th>
      <td mat-cell *matCellDef="let element"> {{element.valor_parqueo | currency:' ':'symbol':'1.0-0' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="num_factura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Factura </th>
      <td mat-cell *matCellDef="let element"> {{element.num_factura}} </td>
    </ng-container>
  
    <ng-container matColumnDef="valor_factura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Factura </th>
      <td mat-cell *matCellDef="let element"> {{element.valor_factura | currency:' ':'symbol':'1.0-0' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="socio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Socio </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element.nombre"> {{element.socio}} </td>
    </ng-container>
    
    <ng-container matColumnDef="fechasalida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </th>
      <td mat-cell *matCellDef="let element"> {{element.fechasalida}} </td>
    </ng-container>
    
      <!-- <ng-container matColumnDef="adicional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> adicional </th>
        <td mat-cell *matCellDef="let element"> {{element.adicional}} </td>
      </ng-container> -->
  
    <!-- Definir las columnas a mostrar -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
