<div class="scroll-container">
      <div class="container">
            <h2 class="center">Salida de bus del hotel</h2>
            <form [formGroup]="formulario" class="form-grid">
              <div class="form-item">
                <mat-label class="label">Habitación:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="number" matInput formControlName="num_habitacion" readonly />
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">hora llegada:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="hora_llegada" readonly />
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">llamada:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="llamada" readonly />
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">Interno:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="number" matInput formControlName="interno" readonly />
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">Placa:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="placa"/>
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">Aseo:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="aseo" readonly />
                </mat-form-field>
              </div>
              <div class="form-item">
                <mat-label class="label">valor Hospedaje:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="number" matInput formControlName="valor_hospedaje" required />
                </mat-form-field>
              </div>
              <div class="form-item">
                  <mat-label class="label">valor Lavado:</mat-label>
                  <mat-form-field class="field small-field">
                    <input type="number" matInput formControlName="valor_lavado" required />
                  </mat-form-field>
                </div>
                <div class="form-item">
                  <mat-label class="label">valor Parqueo:</mat-label>
                  <mat-form-field class="field small-field">
                    <input type="number" matInput formControlName="valor_parqueo" required />
                  </mat-form-field>
                </div>
              <div class="form-item">
                <mat-label class="label">Num de factura:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="num_factura" />
                </mat-form-field>
              </div>
              <div class="form-item">
                  <mat-label class="label">Valor de factura:</mat-label>
                  <mat-form-field class="field small-field">
                    <input type="text" matInput formControlName="valor_factura" />
                  </mat-form-field>
                </div>
              <div class="form-item">
                  <mat-label class="label">Comentario:</mat-label>
                  <mat-form-field class="field small-field">
                    <input type="text" matInput formControlName="comentario" />
                  </mat-form-field>
                </div>
                <div class="form-item">
                  <mat-label class="label">Socio:</mat-label>
                  <mat-form-field class="field small-field">
                    <input type="text" matInput formControlName="socio" />
                  </mat-form-field>
                </div>
              <div class="form-item">
                <mat-label class="label">Hora salida:</mat-label>
                <mat-form-field class="field small-field">
                  <input type="text" matInput formControlName="hora_salida" required />
                </mat-form-field>
              </div>
              
              <div class="form-item">
                <mat-form-field class="field small-field">
                  <mat-label class="label">Fecha salida:</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaSalida" required />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </form>
            <div class="center">
              <button class="center" mat-raised-button color="primary" (click)="guardarHistorial()" [disabled]="!this.formulario.valid" mat-button>Guardar</button>
            </div>
      </div>     
</div>