<div class="container">
  <h2 class="center">EDITAR HABITACIÓN</h2>

  <form [formGroup]="formulario" class="form-grid">
    <mat-label class="label">ESTADO:</mat-label>
    <mat-form-field class="field">
      <mat-select formControlName="estado">
        <mat-option *ngFor="let estado of estados" [value]="estado">{{ estado | uppercase }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label class="label">HABITACIÓN:</mat-label>
    <mat-form-field class="field">
      <input type="number" matInput formControlName="num_habitacion" readonly/>
    </mat-form-field>

    <mat-label class="label">COMENTARIO:</mat-label>
    <mat-form-field class="field">
      <textarea matInput formControlName="comentario"></textarea>
    </mat-form-field>

    <div class="boton">
      <button class="center" mat-button (click)="guardar()">GUARDAR</button>
    </div>
  </form>
</div>
